@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-aurora-outer {
  background: linear-gradient(45deg, #055d58 0%, #032e49 49%, #020e7b 82%);
  background-size: 200%;
  animation: aurora 10s infinite;
}

.dark-aurora-inner {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-size: 200%;
  animation: aurora 7s infinite;
}

.light-aurora-outer {
  background: linear-gradient(45deg, #719fc9 0%, #a4d6f5 49%, #b6b4f4 82%);
  background-size: 200%;
  animation: aurora 10s infinite;
}

.light-aurora-inner {
  background: radial-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  background-size: 200%;
  animation: aurora 7s infinite;
}

@keyframes aurora {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}
