@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* Animations for page transtions */
.fade {
  animation: fade 300ms forwards;
}

.in {
  animation: in 300ms forwards;
}

.quick-fade {
  animation: quick-fade 300ms forwards;
}

.down {
  animation: down 1000ms forwards;
}

.up {
  animation: up 1000ms forwards;
}

.text-down {
  animation: text-down 1000ms forwards;
}

.icon-down {
  animation: icon-down 1000ms forwards;
}

.time-down {
  animation: time-down 1000ms forwards;
}

.glass {
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.24);
}

.hidden-anim {
  animation: hide 0.5s forwards;
}

/* aurora background */
.dark-aurora-outer {
  background: linear-gradient(45deg, #260ec1 0%, #155a85 49%, #061175 82%);
  background-size: 200%;
  animation: aurora 10s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.dark-aurora-inner {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-size: 200%;
  animation: aurora 7s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.light-aurora-outer {
  background: linear-gradient(45deg, #719fc9 0%, #a4d6f5 49%, #b6b4f4 82%);
  background-size: 200%;
  animation: aurora 10s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.light-aurora-inner {
  background: radial-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  background-size: 200%;
  animation: aurora 7s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.h-shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.215);
}

.center {
  transform: translate(0px, 0px) !important;
}

@keyframes hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: collapse;
  }
}

@keyframes aurora {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@keyframes quick-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes in {
  0% {
    transform: scale(0.98);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    height: 0px;
    transform: scale(0.98);
    opacity: 0.3;
  }
  100% {
    height: 31px;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes up {
  0% {
    height: 0px;
    transform: scale(0.98);
    opacity: 0.3;
  }
  100% {
    height: 78px;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes icon-down {
  from {
    top: -25px;
  }
  to {
    top: 8px;
  }
}

@keyframes text-down {
  from {
    top: -45px;
  }
  to {
    top: -13px;
  }
}

@keyframes time-down {
  from {
    top: -45px;
  }
  to {
    top: 1px;
  }
}

/* CSS for tabs */
li a::before {
  box-shadow: 0.5px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset -0.4px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
}

li::after {
  box-shadow: -0.5px 0.5px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0.4px -0.5px 0px 0px rgba(0, 0, 0, 0.1);
}

nav li.notes {
  box-shadow: 0px -0.4px 0px 1px rgba(0, 0, 0, 0.1);
}

li.active {
  box-shadow: 0px -1px 0px 1px rgba(0, 0, 0, 0.1);
}

.top-shadow {
  box-shadow: 0px -1px 0px 0.2px rgba(0, 0, 0, 0.1);
}

/* square to left of first child */
li.active:first-child::before {
  background-color: #c8defc;
}

li.dark.active:first-child::before {
  background-color: #1e3a8a;
}

li.dark.not-active:first-child::before {
  background-color: #475569;
}

/* circle left of first child, right of last child */
li.dark:last-child::after,
li.dark.active:first-child a::before {
  background-color: #0f172a;
}

li.active:first-child a::before {
  background-color: #ccd4e8;
}

/* circle left of first child */
li.dark:first-child a:first-child.not-active::before {
  background-color: #0f172a;
}

li:first-child a:first-child.not-active::before {
  background-color: #ccd4e8;
}

/* circle right of last child */
li.dark.not-active:last-child::after {
  background-color: #0f172a;
}

li.dark.active:last-child::after {
  background-color: #0f172a;
}

li.not-active:last-child::after {
  background-color: #ccd4e8;
}

li.active:last-child::after {
  background-color: #ccd4e8;
}

/* circle right of first child */
li:first-child::after {
  background-color: #e2e8f0;
}

/* square to the left of last child */
li:last-child a.not-active::after {
  background-color: #d9dfee;
}

/* circle to the left of last child */
li.dark:last-child a::before {
  background-color: #475569;
}

li:last-child a::before {
  background-color: #e2e8f0;
}

/* square to the right of last child */
li.dark:last-child a.not-active::after {
  background-color: #475569;
}

li.dark:last-child a.active::after {
  background-color: #1e3a8a;
}

/* square to left of first child */
li.dark:first-child a.active::after {
  background-color: #1e3a8a;
}

/* circle to right of projects */
li.dark::after {
  background-color: #475569;
}

/* circle to right of projects */
li::after {
  background-color: #e2e8f0;
}

li.active::after {
  background-color: #e2e8f0;
}

/* square to left of projects */
li.dark::before {
  background-color: #475569;
}

/* square to right of projects */
li.dark a.not-active::after {
  background-color: #475569;
}

li.dark a.active::after {
  background-color: #1e3a8a;
}

li a.not-active::after {
  background-color: #e2e8f0;
}

/* circle to left of projects */
li a.active::before {
  background-color: #e2e8f0;
}

li.dark a::before {
  background-color: #475569;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(189, 189, 191);
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(189, 189, 191);
  font-size: small;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(189, 189, 191);
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: rgb(189, 189, 191);
}
