@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

/* Animations for page transtions */
.fade {
  animation: fade 300ms forwards;
}

.in {
  animation: in 300ms forwards;
}

.quick-fade {
  animation: quick-fade 300ms forwards;
}

.down {
  animation: down 1000ms forwards;
}

.text-down {
  animation: text-down 1000ms forwards;
}

.icon-down {
  animation: icon-down 1000ms forwards;
}

.time-down {
  animation: time-down 1000ms forwards;
}

.glass {
  backdrop-filter: blur(9px) saturate(200%);
  -webkit-backdrop-filter: blur(9px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.24);
}

/* aurora background */ 
.dark-aurora-outer {
  background: linear-gradient(45deg, #260ec1 0%, #155a85 49%, #061175 82%);
  background-size: 200%;
  animation: aurora 10s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.dark-aurora-inner {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-size: 200%;
  animation: aurora 7s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.light-aurora-outer {
  background: linear-gradient(45deg, #719fc9 0%, #a4d6f5 49%, #b6b4f4 82%);
  background-size: 200%;
  animation: aurora 10s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.light-aurora-inner {
  background: radial-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  background-size: 200%;
  animation: aurora 7s infinite;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
}

.h-shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.215);
}

@keyframes aurora {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: left bottom;
  }
  100% {
    background-position: left top;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

@keyframes quick-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes in {
  0% {
    transform: scale(0.98);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes down {
  0% {
    height: 0px;
    transform: scale(0.98);
    opacity: 0.3;
  }
  100% {
    height: 31px;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes icon-down {
  from {
    top: -25px;
  }
  to {
    top: 8px;
  }
}

@keyframes text-down {
  from {
    top: -45px;
  }
  to {
    top: -13px;
  }
}

@keyframes time-down {
  from {
    top: -45px;
  }
  to {
    top: 1px;
  }
}
